@model CrowdTouring_Projeto.Models.Sugestao
@{
    ViewBag.Title = "Sugestao";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Envia a tua sugestão</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Titulo, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Titulo, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Comentario, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Comentario,10,20, new { @class = "form-control" })
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Enviar" />
            </div>
        </div>
    </div>
}

