@model CrowdTouring_Projeto.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Nome, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Telemóvel, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Telemóvel, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Telemóvel, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DataNascimento, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DataNascimento, new { @class = "form-control", type = "date",})
            @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TipoUtilizador, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.TipoUtilizador, ViewBag.Roles as SelectList, "Please Select", new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.TipoUtilizador, "", new { @class = "text-danger" })
        </div>
        <label id="TextoTipoUtilizador"></label>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sobre, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Sobre, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Sobre, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Termos de uso", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <textarea rows="8" cols="80" class="form-control">Antes de aceder e utilizar o site, leia atentamente os Termos de Uso. Mediante o acesso e utilização desta Plataforma, o utilizador declara ter lido, compreendido e aceite os Termos de Uso abaixo descritos, sem necessidade de qualquer ato ou consentimento posterior. Os Termos de Uso poderão ser alterados em qualquer momento considerando-se que as alterações entram em vigor a partir da data da sua publicação na Plataforma. O acesso e a utilização posteriores da Plataforma pelo utilizador, serão considerados como um sinal inequívoco de que o mesmo leu, aceitou e compreendeu os Termos de Uso alterados.
            </textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label>@Html.CheckBoxFor(m => m.Notificacao) Pretendo receber notificações da plataforma </label>
            </div>
        </div>
    </div>
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label>@Html.CheckBox("checky", false) Li e concordo com os termos de uso da plataforma </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Registar" id="RegisterBut" disabled />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


