@model CrowdTouring_Projeto.ViewModel.DesafioCreate

@{
    ViewBag.Title = "Create";
}

<link rel="stylesheet" href="~/Content/tipso.min.css">
@using (Html.BeginForm("Create", "Desafios", FormMethod.Post, new {@class = "form form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <h3>Cria o teu desafio</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" style="margin-top:30px">
                @Html.LabelFor(m => m.TipoTrabalho, new { @class = "col-md-2 control-label" })
                <div class="col-md-10" id="pos1">
                    @Html.TextBoxFor(m => m.TipoTrabalho, new { @class = "form-control", maxlength = 50, id = "TituloDesafio", autocomplete = "off" })
                    <p id="caracteres"></p>
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(m => m.Descricao, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Descricao, 10, 25, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DesafioSolucao,"Data Soluções", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DesafioSolucao, new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(m => m.DesafioSolucao, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
        </div>
        <div class="col-md-6" style="margin-top:20px">
        <div id="map" style="width:500px; height:300px"> </div>
            </div>
    </div>
    <div class="form-group"  style="margin-right:550px">
        @Html.LabelFor(m => m.Pontos,"Pontos", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Pontos,"1",new { @class = "form-control",type = "number",min=1,max=5})
        </div>
    </div>
    <div class="form-group" style="margin-right:550px">
        @Html.LabelFor(m => m.ValorMonetario, "Valor Monetário", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ValorMonetario, new { @class = "form-control", type = "number", min = 0, max = 500 })
        </div>
    </div>
        <div class="form‐group">
        <div class="col‐md‐offset‐3 col‐md‐9"  style="margin-top:40px">
            <p>Selecciona as tuas tags preferidas</p>
            <table>
                <tr>
                    @{int cnt = 0;
                        List<CrowdTouring_Projeto.ViewModel.TagDesafio> Tags = ViewBag.TagsDesafio;
                        foreach (var tag in Tags)
                        {

                            if (cnt++ % 3 == 0)
                            {
                                @:</tr><tr>
                                }
                            @: <td style="margin-right:15px">
                                <input type="checkbox" name="selectedTag" value="@tag.TagId" checked="@tag.Seleccionado" />
                                    @tag.Nome
                                    @:</td>
                            }
                        @:</tr>
                    }
                </table>
            @Html.ValidationMessage("TagErro", new { @class = "text-danger" })
            </div>
        </div>



       @Html.HiddenFor(m => m.lat)
       @Html.HiddenFor(m => m.lon)

        <div class="form-group" style="margin-top:20px">
           <label class="col-md-offset-1">Termos de uso</label>
                <div class="col-md-10">
                     <textarea rows="8" cols="80" class="form-control" disabled>a) o "Termo" deste Contrato começa na data em que se registar na Plataforma, e continua até que seja denunciado por si ou por nós em conformidade com este Acordo;
                                                          b) declara que tem pelo menos 18 anos de idade;
                                                          c) compromete-se a não publicar conteúdos que desrespeitem outros utilizadores ou terceiros utilizando calão, palavras insultuosas, ou qualquer outro tipo situação deste género;
                                                          d) o registo e utilização da Plataforma implicam que o utilizador registado garanta que toda a informação contida no seu registo é correta.
                      </textarea>
                </div>
        </div>


        <input  type="file" name="file" class="marginTop" />     
        @Html.ValidationMessage("ErroFicheiro", new { @class = "text-danger" })
        @Html.ValidationMessage("Zip", new { @class = "text-danger" })

        
                                

        <button type="submit" class="btn btn-success marginTop" id="criarDesafio"><span class="glyphicon glyphicon-ok"></span> Criar Desafio</button>
        <br />
        <br />
                        }
    

            <script src="~/Scripts/googleMaps.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsJgW2sXWkrM_kgAK5kF2TC2QMnHdv1G4&callback=initMap"
                    async defer></script>
            @Scripts.Render("~/bundles/jquery")
            <script>
                var text_max = 50;
                $('#caracteres').html(text_max + ' characters remaining');

                $('#TituloDesafio').keyup(function () {
                    var text_length = $('#TituloDesafio').val().length;
                    var text_remaining = text_max - text_length;

                    $('#caracteres').html(text_remaining + 'caracteres restantes ');
                });
            </script>
            <script src="~/Scripts/tipso.min.js"></script>
            <script>
                $('#TituloDesafio').tipso({
                    content: "O tipo de trabalho deverá especificar o objetivo do desafio",
                    position: "right",
                    size: "tiny"
                });

                $('#DesafioSolucao').tipso({
                    content: "Deverá indicar até que dia pretende que sejam submetidas propostas de solução num espaço de um mês",
                    position: "right",
                    size: "tiny"
                });

                $('#Descricao').tipso({
                    content: "Deverá descrever de forma detalhada o que pretende que seja feito, e deverá fazer uma descrição do seu desafio",
                    position: "right",
                    size: "tiny"
                });

                $('#Pontos').tipso({
                    content: "a pontuação varia entre 1-5 (muito fácil, fácil,normal, difícil e muito difícil respetivamente)",
                    position: "right",
                    size: "tiny"
                });

                $('#ValorMonetario').tipso({
                    content: "recompensa para o resolvedor que criar a melhor solução",
                    position: "right",
                    size: "tiny"
                });
            </script>
